---
name: CI

on:
  push:
    branches-ignore: [main]
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  qa:
    uses: "./.github/workflows/qa.yaml"

  tests:
    uses: "./.github/workflows/tests.yaml"
